<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>pretweeting: a market for ideas</title>
        <link rel="stylesheet" type="text/css" href="http://pretweeting.com/static_media/style.css" />
        <link rel="icon" type="image/png" href="http://pretweeting.com/static_media/favicon.png" />
    </head>
    <body>

        <div id='frame'>
            
            <div id='content'>
                <div id="breadcrumbs">
                    <span class='up'>&#9650;</span>&nbsp;
                    <a id='banner' href='/'>pretweeting</a>
                    › error
                </div>
                <hr/>
                <h1>Whoops, there was a server error! <a href='/'>Why not head back to the home page?</a></h1>
            </div>
            
            <div id='footer'>&nbsp;</div>
        </div>
        
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-707006-4");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    </body>
</html>